/*//////////////////////////////////////////////*/

/* RESET////////////////////////////////////////*/
* {
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: "Wordle";
  src: url("./karnakcondensed-normal-700.woff") format("woff");
}

hr {
  opacity: 40%;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
  font-family: "Wordle", Arial, sans-serif;
}

.tabuleiro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: calc(50% - 167.5px); /*centro*/
  top: 216px;
  display: flex;
  flex-wrap: wrap; /*para os quadrados irem um para baixo do outro*/
  justify-content: space-around; /*mesmo espaço entre os elementos, e metade nos "cantos" - sem motivo kkk*/
  width: 335px;
  height: 402px;
}

.quad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border: solid 2px #d3d6da;
  margin: 2.5px;
}

.bord {
  border-color: black;
}

.coloC {
  background-color: #787c7e;
  color: white;
}

.coloG {
  background-color: #6aaa64;
  color: white;
}

.coloY {
  background-color: #c9b458;
  color: white;
}

.coloC,
.coloG,
.coloY {
  border: 0;
}

.bloco-de-botoes {
  font-weight: bolder;
  position: fixed;
  bottom: 8px;
  left: calc(
    50% - (580px / 2)
  ); /*o bloco adquire 580px de width por causa dos botoes,daí o 580 - além disso, já aproveitei e defini as linhas como 580px*/
  height: 200px;
}

.botoes-linha1,
.botoes-linha2,
.botoes-linha3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 580px;
}

.bot1,
.bot2,
.bot3 {
  box-sizing: border-box; /* evitar imprevistos no tamanho do botão*/
  display: flex;
  height: 58px;
  width: 43px; /* o enter e o backspace estão definidos no index.html, assim a especifidade permite que eles tenham tamanhos diferentes */
  background-color: #d3d6da;
  margin: 8px 6px 0 0;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 13.3333px; /* tirei direto do site original*/
}

.coloC {
  background-color: #787c7e;
}

.coloG {
  background-color: #6aaa64;
}

.coloY {
  background-color: #c9b458;
}
